<div
  class="rais-table-cell"
  [class.rais-table-cell--default]="variant === 'default'"
  [class.rais-table-cell--input-field-selector]="variant === 'input-field-selector'"
  [class.rais-table-cell--skeleton-loader]="variant === 'skeleton-loader'"
  [class.rais-table-cell--checkbox]="variant === 'checkbox'"
>
  <!-- Default: plain text -->
  <span *ngIf="variant === 'default'" class="rais-table-cell__text">{{ content }}</span>

  <!-- Input field selector: inline dropdown -->
  <div *ngIf="variant === 'input-field-selector'" class="rais-table-cell__select">
    <span class="rais-table-cell__select-placeholder">-- Select --</span>
    <span class="rais-table-cell__select-caret" aria-hidden="true"></span>
  </div>

  <!-- Skeleton loader -->
  <span *ngIf="variant === 'skeleton-loader'" class="rais-table-cell__skeleton" aria-hidden="true"></span>

  <!-- Checkbox -->
  <span
    *ngIf="variant === 'checkbox'"
    class="rais-table-cell__checkbox"
    [class.rais-table-cell__checkbox--checked]="checked"
    role="checkbox"
    [attr.aria-checked]="checked"
  ></span>
</div>
