<div
  class="rais-table-cell"
  [class.rais-table-cell--default]="variant === 'default'"
  [class.rais-table-cell--input-field-selector]="variant === 'input-field-selector'"
  [class.rais-table-cell--skeleton-loader]="variant === 'skeleton-loader'"
  [class.rais-table-cell--checkbox]="variant === 'checkbox'"
>
  <!-- Default: plain text -->
  <span *ngIf="variant === 'default'" class="rais-table-cell__text">{{ content }}</span>

  <!-- Input field selector: inline dropdown -->
  <div *ngIf="variant === 'input-field-selector'" class="rais-table-cell__select">
    <span class="rais-table-cell__select-placeholder">-- Select --</span>
    <svg
      class="rais-table-cell__select-caret"
      width="10"
      height="10"
      viewBox="0 0 10 10"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <path d="M2 4 L5 7 L8 4" stroke="#454545" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
  </div>

  <!-- Skeleton loader -->
  <span *ngIf="variant === 'skeleton-loader'" class="rais-table-cell__skeleton" aria-hidden="true"></span>

  <!-- Checkbox -->
  <span
    *ngIf="variant === 'checkbox'"
    class="rais-table-cell__checkbox"
    [class.rais-table-cell__checkbox--checked]="checked"
    role="checkbox"
    [attr.aria-checked]="checked"
  ></span>
</div>
