<div
  class="rais-table-header"
  [class.rais-table-header--default]="variant === 'default'"
  [class.rais-table-header--skeleton-loader]="variant === 'skeleton-loader'"
  [class.rais-table-header--checkbox]="variant === 'checkbox'"
>
  <!-- Default: column name + optional sort icon -->
  <ng-container *ngIf="variant === 'default'">
    <span class="rais-table-header__label">{{ columnName }}</span>
    <span *ngIf="sortable" class="rais-table-header__sort-icon" aria-hidden="true"></span>
  </ng-container>

  <!-- Skeleton loader -->
  <span *ngIf="variant === 'skeleton-loader'" class="rais-table-header__skeleton" aria-hidden="true"></span>

  <!-- Checkbox -->
  <span
    *ngIf="variant === 'checkbox'"
    class="rais-table-header__checkbox"
    [class.rais-table-header__checkbox--checked]="checked"
    role="checkbox"
    [attr.aria-checked]="checked"
  ></span>
</div>
