<div
  class="rais-table"
  [class.rais-table--default]="variant === 'default'"
  [class.rais-table--loading]="variant === 'loading'"
  [class.rais-table--pagination-footer]="variant === 'pagination-footer'"
>
  <!-- Default & Pagination-footer: use RaisTableColumn for each column -->
  <div *ngIf="variant !== 'loading'" class="rais-table__columns">
    <rais-table-column
      *ngFor="let name of columns"
      variant="default"
      [columnName]="name"
      [cellCount]="rowCount"
    ></rais-table-column>
  </div>

  <!-- Loading: skeleton header + skeleton cells stacked per column -->
  <div *ngIf="variant === 'loading'" class="rais-table__columns">
    <div *ngFor="let name of columns" class="rais-table__loading-column">
      <rais-table-header variant="skeleton-loader"></rais-table-header>
      <rais-table-cell *ngFor="let _ of rows" variant="skeleton-loader"></rais-table-cell>
    </div>
  </div>

  <!-- Pagination footer (real DatatableFooter component) -->
  <rais-datatable-footer
    *ngIf="variant === 'pagination-footer'"
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    [pageSize]="pageSize"
  ></rais-datatable-footer>
</div>
